body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
}
.banner{
	height: 100vh;
	width: 100%;
	background:url('overlay.png'),url('banner.jpg');
	background-position: top;
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.banner .info{
	margin-top:5%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 4em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}

label {
	background-color: rgb(49, 49, 49);
	color: white;
	padding: 0.5rem;
	font-family: sans-serif;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-top: 1rem;
  }

.output{
	margin-left:37%;
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}